.edit_profile
  .edit_profile_main
    .edit_profile_main_name
      プロフィール
    .edit_profile_main_line
    = form_with model: @user, url: user_path do |f| 
      .edit_profile_main_use
        ユーザー名
      = f.text_field :name, name:"name", class:"edit_profile_main_user"
      .edit_profile_main_use
        アイコン
      = f.file_field :image_name, name:"image_name", value:"ねこ2.jpg", class:"edit_profile_main_icon"
      .edit_profile_main_use
        自己紹介
      = f.text_area :introduction, name:"introduction", class:"edit_profile_main_introduction"
      = f.submit class:"edit_profile_main_button" 
      .edit_profile_main_button_text
        更新する