.index_profile
  .index_profile_main
    .index_profile_main_user
      ユーザー
    - if current_user.image_name? 
      .index_profile_main_image
        = image_tag current_user.image_name.url ,class:"index_profile_main_image_icon"
    - else 
      .index_profile_main_image
        = image_tag("icon/964.png",class:"index_profile_main_image_icon")
  .index_profile_introduction
    .index_profile_introduction_name
      = current_user.name
    .index_profile_introduction_line
    .index_profile_introduction_sentence
      = current_user.introduction
.top_users
  .top_users_main
    最新ユーザー
  =link_to "もっと見る→",members_index_path, class:"top_users_sabu"
.top_members
  - @users.each do |user|
    = link_to user_path(user.id), class:"top_members_main" do
      - if user.image_name? 
        = image_tag user.image_name.url ,class:"top_members_main_image"
      - else 
        = image_tag("icon/964.png",class:"top_members_main_image")
      .top_members_main_name
        = user.name
      .top_members_main_name
        イイね数　
        = @follower_count[user.id] == nil ? 0 : @follower_count[user.id]
.top_users
  .top_users_main
    マッチング中
  =link_to "もっと見る→","#", class:"top_users_sabu"
.top_members
  - @matching_users.each do |user|
    = link_to user_path(user.id), class:"top_members_main" do
      - if user.image_name? 
        = image_tag user.image_name.url ,class:"top_members_main_image"
      - else 
        = image_tag("icon/964.png",class:"top_members_main_image")
      .top_members_main_name
        = user.name
      .top_members_main_name
        イイね数　
        = @follower_count[user.id] == nil ? 0 : @follower_count[user.id]
.top_users
  .top_users_main
    相手からのイイね
  =link_to "もっと見る→","#", class:"top_users_sabu"
.top_members
  - @users_liked_to_me.each do |user|
    = link_to user_path(user.id), class:"top_members_main" do
      - if user.image_name? 
        = image_tag user.image_name.url ,class:"top_members_main_image"
      - else 
        = image_tag("icon/964.png",class:"top_members_main_image")
      .top_members_main_name
        = user.name
      .top_members_main_name
        イイね数　
        = @follower_count[user.id] == nil ? 0 : @follower_count[user.id]
.top_users
  .top_users_main
    イイねしてるユーザー
  =link_to "もっと見る→","#", class:"top_users_sabu"
.top_members
  - @users_liked_from_me.each do |user|
    = link_to user_path(user.id), class:"top_members_main" do
      - if user.image_name? 
        = image_tag user.image_name.url ,class:"top_members_main_image"
      - else 
        = image_tag("icon/964.png",class:"top_members_main_image")
      .top_members_main_name
        = user.name
      .top_members_main_name
        イイね数　
        = @follower_count[user.id] == nil ? 0 : @follower_count[user.id]
