.index_profile
  .index_profile_main
    .index_profile_main_user
      ユーザー
    .index_profile_main_image
      = image_tag("icon/964.png",class:"index_profile_main_image_icon")
  .index_profile_introduction
    .index_profile_introduction_name
      = @user.name
    .index_profile_introduction_line
    .index_profile_introduction_sentence
      = @user.introduction
.top_users
  .top_users_main
    最新ユーザー
  =link_to "もっと見る→","#", class:"top_users_sabu"
.top_members
  - @users.each do |user|
    = link_to user_path(user.id), class:"top_members_main" do
      = image_tag("icon/964.png",class:"top_members_main_image")
      .top_members_main_name
        = user.name
.top_users
  .top_users_main
    マッチング中
  =link_to "もっと見る→","#", class:"top_users_sabu"
.top_members
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ
.top_users
  .top_users_main
    相手からのイイね
  =link_to "もっと見る→","#", class:"top_users_sabu"
.top_members
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ
.top_users
  .top_users_main
    イイねしてるユーザー
  =link_to "もっと見る→","#", class:"top_users_sabu"
.top_members
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ
  .top_members_main
    =link_to image_tag("icon/964.png",class:"top_members_main_image")
    .top_members_main_name
      ああああ