.show_profile
  .show_profile_main
    .show_profile_main_name
      ユーザー名
    - if @user.image_name? 
      = image_tag @user.image_name.url ,class:"show_profile_main_image"
    - else 
      = image_tag("icon/964.png",class:"show_profile_main_image")
    .show_profile_main_introduction
      .show_profile_main_introduction_name
        = @user.name
      .show_profile_main_introduction_line
      .show_profile_main_introduction_sentence
        = @user.introduction
      .show_profile_main_introduction_line
      .like_count
        イイね数　
        = @follower_count
      .show_profile_main_introduction_line
      - if @user.id == current_user.id
        .other_profile
          .other_profile_edit
            = link_to "編集",edit_user_path(@user.id), class: "other_profile_edit_text2"
          .other_profile_logout
            = link_to "ログアウト", destroy_user_session_path , method: :delete , class: "other_profile_edit_text2"
      - else
        - if current_user.following?(@user)
          = form_with model: @relationship,url: relationship_path, method: :delete, remote: true  do |f|
            .other_profile
              = button_tag type: 'submit', class: 'other_profile_edit',id: "unfollow_form"  do
                .other_profile_edit_text
                  イイね
        - else
          = form_with model: @relationship, remote: true  do |f|
            %div= hidden_field_tag :follower_id, @user.id
            .other_profile
              = button_tag type: 'submit', class: 'other_profile_edit',id: "follow_form" do
                .other_profile_edit_text2
                  イイね
