.top_main
  .top_left
    .top_visual
      いつでも任せられる
      %br
      動画編集者をみつけよう
    %p.top_visual_p
      ビジネスからプライベート利用まで、動画編集スキルを
      %br
      気軽に売り買いできるスキルマーケットです。
    - if user_signed_in?
    - else
      .btn-wrapper
        = link_to "いますぐはじめる", new_user_registration_path , class: "btn-wrapper_btn"
  .top_right
    =link_to image_tag("icon/At the office-pana.png",class:"top_right_icon"),"#"
.topintroduction
  .subtitle
    ビデオパートナーの
    %span.subtitle_big 3
    つの特徴
.main_list
  .lists
    .list
      %span ①
      %h1 オンラインで完結
    =link_to image_tag("icon/662.png",class:"lists_image")
    %br
    %p サービス提供はすべて
    %p オンライン上で完結。
  .lists
    .list
      %span ②
      %h1 リーズナブル
    =link_to image_tag("icon/8202_color.png",class:"lists_image")
    %br
    %p サービス提供はすべて
    %p オンライン上で完結。
  .lists
    .list
      %span ③
      %h1 動画の外注化
    =link_to image_tag("icon/964.png",class:"lists_image")
    %br
    %p 送信することで
    %p 編集してもらえる。
.top_users
  .top_users_main
    最新ユーザー
  - if user_signed_in?
    =link_to "もっと見る→",members_index_path, class:"top_users_sabu"
  - else
    =link_to "もっと見る→" ,new_user_registration_path, class:"top_users_sabu"
- if user_signed_in?
  .top_members
    - @users.each do |user|
      = link_to user_path(user.id), class:"top_members_main" do
        - if user.image_name? 
          = image_tag user.image_name.url ,class:"top_members_main_image"
        - else 
          = image_tag("icon/964.png",class:"top_members_main_image")
        .top_members_main_name
          = user.name
        .top_members_main_name
          = user.role_id
        .top_members_main_name
          = user.genre_id
        .top_members_main_name
          = user.subgenre_id
        .top_members_main_name
          イイね数　
          = @follower_count[user.id] == nil ? 0 : @follower_count[user.id]
- else
  .top_members
    - @users.each do |user|
      = link_to new_user_registration_path, class:"top_members_main" do
        - if user.image_name? 
          = image_tag user.image_name.url ,class:"top_members_main_image"
        - else 
          = image_tag("icon/964.png",class:"top_members_main_image")
        .top_members_main_name
          = user.name
