!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title VideoPartner
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      = link_to image_tag("icon/IMG_3107.jpg", class:"header_logo"),"/"
      -if user_signed_in?
        .header_login
          = link_to current_user.name, user_path(current_user.id) , class: "header_login_text"
        .header_index
          = link_to "ユーザー一覧", users_path , class: "header_signup_text"
      - else
        .header_login
          = link_to "ログイン", new_user_session_path , class: "header_login_text"
        .header_signup
          = link_to "新規会員", new_user_registration_path , class: "header_signup_text"
    = yield
    .footer
      .footer_left
        .footer_left_visual
          いつでも任せられる
          %br
          動画編集者をみつけよう
      .footer_right
        =link_to image_tag("icon/At the office-pana (1).png",class:"footer_right_icon"),"#"
    .footer_form
      =link_to image_tag("icon/IMG_3090.jpg",class:"footer_form_icon"),"#"

