= form_with url: members_index_path, method: :get, local: true do |f| 
  = text_field_tag :search, "",placeholder:"キーワード検索"
  = submit_tag '検索', :name => nil
.top_users
  .top_users_main
.top_members
  - @users.each do |user|
    = link_to user_path(user.id), class:"top_members_main" do
      - if user.image_name? 
        = image_tag user.image_name.url ,class:"top_members_main_image"
      - else 
        = image_tag("icon/964.png",class:"top_members_main_image")
      .top_members_main_name
        = user.name
      - if user.role_id? 
        .top_members_main_name
          = user.role.name
      - if user.genre_id? 
        .top_members_main_name
          = user.genre.name
      - if user.subgenre_id?
        .top_members_main_name
          = user.subgenre.name
      .top_members_main_name
        イイね数　
        = @follower_count[user.id] == nil ? 0 : @follower_count[user.id]
!= pagy_nav(@pagy)