= form_with url: members_index_path, method: :get, local: true do |f| 
  = text_field_tag :search, "",placeholder:"キーワード検索"
  = submit_tag '検索', :name => nil
.top_users
  .top_users_main
= render partial: 'users/users', locals: {members: @users}
!= pagy_nav(@pagy)